body{
    padding-top: 0px;
    padding-bottom: 0px;
}
    .header{
        width: 100%;
        /*position: fixed; */    
        background: #317ad9;
        padding: 10px 0;
        color: #fff;
    }
    .footer{
        width: 100%;
        /*position: fixed; */        
        background: #317ad9;
        padding: 10px 0;
        color: #fff;
        bottom: 0;
    }
    .header{
        top: 0;
        
    }
    
    .container{
        width: 80%;
        margin-top: 25px;
        margin: 0 auto; /* Center the DIV horizontally */
    }
    nav a{
        color: #fff;
        text-decoration: none;
        padding: 7px 15px;
        display: inline-block;
    }